@use "../scss/mixins" as *;
.article {
  .box {
    background-color: var(--background-alt);
    filter: drop-shadow(0 5px 17px var(--shadow));
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    &:hover {
      .image {
        img {
          transform: scale(1.5) rotate(-10deg);
        }
      }
    }
    .image {
      overflow: hidden;
      img {
        transition: transform 300ms ease-in-out;
      }
    }
    .date {
      @include flex($dir: row, $justify: flex-start);
      .icon {
        font-size: 18px;
        margin-right: 0.5rem;
      }
    }
    .read {
      color: var(--main);
      text-transform: lowercase;
      font-weight: 500;
    }
  }
  a {
    color: #bad7ba !important;
  }
}
