@use "../scss/mixins" as *;
.resume {
  margin-top: 3rem;
  position: relative;
  &::before {
    content: "";
    @include position(absolute, 12rem, 0);
    width: 200px;
    height: 200px;
    background-color: var(--accent);
    border-radius: 50% 0 0 50%;
    opacity: 0.03;
    @media (max-width: 991px) {
      display: none;
    }
  }
  .title {
    margin: 0;
    @include flex($dir: row, $align: center, $justify: flex-start);
    .titleIcon {
      color: var(--accent);
      margin-right: 0.5rem;
      font-size: 2.75rem;
    }
  }
  .box {
    border-left: 1px solid var(--bg-alt);
    padding: 1rem;
    .name {
      position: relative;
      &::before {
        content: "";
        @include position(absolute, 10px, $left: calc(-1rem - 5px));
        @include circle(9px, 9px, var(--accent));
      }
    }
    .date {
      display: inline-block;
      padding: 0.5rem 1rem;
      border-radius: var(--border-radius);
      background-color: var(--accent);
      color: var(--bg);
      font-weight: 500;
    }
  }
}
