@use "./mixins" as *;
.section-title {
  font-size: 2rem;
  text-transform: lowercase;
  position: relative;
  &::before {
    content: "";
    @include position(absolute, -80px, $left: 50%);
    transform: translateX(-50%);
    width: 30px;
    height: 70px;
    border: 5px solid var(--accent);
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
}

.main-button {
  @include flex(inline-flex, $dir: row);
  background-color: var(--accent);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  transition: background-color 250ms ease-in-out;
  &:hover {
    background-color: transparent;
    .main-button-icon {
      background-color: var(--accent);
      color: var(--bg);
    }
    .main-button-title {
      color: var(--accent);
    }
  }
  .main-button-icon {
    background-color: var(--bg);
    color: var(--accent);
    width: 32px;
    height: 32px;
    font-size: 16px;
    border-radius: var(--border-radius);
    @include flex;
    transition: all 250ms ease-in-out;
  }
  .main-button-title {
    color: var(--bg);
    margin-left: 0.5rem;
    margin-bottom: 0;
    transition: color 250ms ease-in-out;
  }
}
