:focus {
  outline: 0 !important;
}

body {
  overflow-x: hidden !important;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
  input,
  textarea,
  button {
    border: 0;
    background-color: transparent;
  }
  a {
    text-decoration: none !important;
    color: inherit;
    &:hover {
      text-decoration: none !important;
      color: inherit;
    }
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  section {
    min-height: 100vh;
    padding-top: 3rem;
  }
}
