body {
  font-family: var(--font-inter), "Poppins", sans-serif;
  h1 {
    font-weight: 800;
    font-size: 72px;
    font-family: var(--font-mono), monospace;
    text-transform: lowercase;
    word-wrap: break-word;
  }
  h2,
  h3 {
    font-weight: 700;
    font-family: var(--font-mono), monospace;
    text-transform: lowercase;
    word-wrap: break-word;
  }
  h4,
  h5,
  h6 {
    font-weight: 500;
    text-transform: lowercase;
    word-wrap: break-word;
  }
  p {
    color: var(--hint);
    font-weight: 400;
    word-wrap: break-word;
  }
  code, pre {
    font-family: var(--font-mono), monospace;
  }
}
